@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes logoAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

html {
  scroll-behavior: smooth;
}

header {
  transition: background-color 0.3s ease;
}

header:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
