@tailwind base;

/* Original content here */
@tailwind base;

.fade-out {
  animation: fadeOut 6s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.9; /* Changed to keep icons visible */
  }
}

@tailwind components;
@tailwind utilities;

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 5s forwards; /* Increased duration to 1s */
}

.animate-slideIn {
  animation: slideIn 5s forwards;
}

.animate-fadeIn {
  animation: fadeIn 13s forwards;
}

html {
  scroll-behavior: smooth;
}

header {
  transition: background-color 0.8s ease;
}

header a {
  background: transparent; /* Ensure the default background is transparent */
  transition: background-color 0.5s ease, color 0.5s ease; /* Smooth transition for background and text color */
}

header a:hover {
  background: linear-gradient(
    to right,
    #4f46e5,
    #9333ea
  ); /* Example gradient */
  color: white; /* Ensure text color remains white */
}
